# Knihovna pandas a z√°kladn√≠ manipulace s tabulkov√Ωmi daty

P≈ôed jakoukoli slo≈æitƒõj≈°√≠ anal√Ωzou je t≈ôeba nauƒçit se z√°klady pr√°ce se zpracov√°van√Ωmi daty. Data m≈Ø≈æou b√Ωt r≈Øzn√©ho charakteru - jednorozmƒõrn√°, dvourozmƒõrn√°, strukturovan√°, nestrukturovan√°, obrazov√°, zvukov√°... V lekc√≠ch expolarativn√≠ datov√© anal√Ωzy budeme pracovat s daty p≈ôev√°≈ænƒõ **tabulkov√Ωmi** - tedy takov√Ωmi, kter√© jistƒõ zn√°≈° ze sv√©ho obl√≠ben√©ho (nebo neobl√≠ben√©ho) tabulkov√©ho procesoru (spreadsheetu). Obvykle ka≈æd√Ω **≈ô√°dek** takov√© tabulky odpov√≠d√° nƒõjak√© vƒõci, exempl√°≈ôi ƒçehosi, p≈ô√≠padnƒõ nƒõjak√©mu pozorov√°n√≠. V jednotliv√Ωch **sloupc√≠ch** se pak nach√°zej√≠ jednotliv√© vlastnosti ƒçi mƒõ≈ôen√© veliƒçiny pro tyto vƒõci charakteristick√©.

Ve svƒõtƒõ Pythonu je pro zpracov√°n√≠ tabulkov√Ωch dat nejpou≈æ√≠vanƒõj≈°√≠ knihovnou **pandas**. Ta umo≈æ≈àuje naƒç√≠tat data z mnoh√Ωch form√°t≈Ø (vƒçetnƒõ se≈°it≈Ø XLS(x)), r≈Øznƒõ je upravovat, velice efektivnƒõ poƒç√≠tat se sloupci, p≈ô√≠mo zkoumat nƒõkter√© statistick√© ukazatele a v neposledn√≠ ≈ôadƒõ v√Ωsledky pƒõknƒõ vizualizovat. Tato lekce tƒõ sezn√°m√≠ se z√°kladn√≠mi pou≈æit√Ωmi koncepty a nauƒç√≠ tƒõ p≈ôistupovat k jednotliv√Ωm sloupc≈Øm, ≈ô√°dk≈Øm a bu≈àk√°m.

V√≠ce o knihovnƒõ pandas najde≈° na jej√≠ch domovsk√Ωch str√°nk√°ch: https://pandas.pydata.org/

## Import knihoven

In [1]:
import pandas as pd     # K pandas budeme p≈ôistupovat pomoc√≠ aliasu pd

P≈ôi bƒõ≈æn√©m programov√°n√≠ se sna≈æ√≠me vyhnout alias≈Øm, proto≈æe znep≈ôehled≈àuj√≠ k√≥d, ale ve svƒõtƒõ datov√© analytiky se nƒõkter√© aliasy tak za≈æily, ≈æe je budeme pou≈æ√≠vat i v tomto kurzu (dal≈°√≠ je≈°tƒõ p≈ôijdou).

## Naƒçten√≠ tabulky s daty

Skoƒç√≠me do pandas rovn√Ωma nohama a uk√°≈æeme si typick√Ω p≈ô√≠klad dat, kter√° s touto knihovnou budeme zpracov√°vat.

Pro ƒçten√≠ dat m√° Pandas celou ≈ôadu funkc√≠ `read_*`, d√≠ky kter√Ωm si porad√≠ s celou ≈ôadou r≈Øzn√Ωch form√°t≈Ø. Pomƒõrnƒõ ƒçast√Ωm je form√°t CSV (comma-separated values - [wiki](https://cs.wikipedia.org/wiki/CSV)), ve kter√©m jsou jednotliv√© hodnoty oddƒõlen√© ƒç√°rkami.

**TODO** <span style="background-color: yellow">Ovƒõ≈ôit n√°sleduj√≠c√≠: mechanismus p≈ô√≠stupu k dat≈Øm</span>

Pokud bude≈° t√≠mto notebookem experimentovat, st√°hni si nejd≈ô√≠ve soubor s daty z [tohoto odkazu](static/pokemon.csv). Data pro pokusy jsou vytvo≈ôena z [komplexn√≠ho Pokedexu na Githubu](https://github.com/veekun/pokedex).

In [2]:
data = pd.read_csv("static/pokemon.csv")

Data (a≈• u≈æ to je cokoliv) jsou nyn√≠ naƒçten√° v pamƒõti. Pojƒème se pod√≠vat, co se v nich ukr√Ωv√°.

In [3]:
data

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,49,49,45
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,60
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,80
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,65
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,73,67,73
803,804,naganadel,3.6,150.0,purple,wings,False,Poison,Dragon,73,73,73,121
804,805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,131,211,13
805,806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,127,53,107
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143

Pokud v≈°e zafungovalo, jak m√°, mƒõl(a) bys p≈ôed sebou m√≠t relativnƒõ pƒõknƒõ naform√°tovanou tabulku. Z√°kladn√≠ zobrazen√≠ v notebooku ti uk√°≈æe prvn√≠ch pƒõt a posledn√≠ch pƒõt ≈ô√°dk≈Ø (kdo by riskoval, ≈æe mu tis√≠ce ≈ô√°dk≈Ø zahlt√≠ okno prohl√≠≈æeƒçe?) v tabulce spoleƒçnƒõ s informac√≠ o celkov√©m poƒçtu ≈ô√°dk≈Ø a sloupc≈Ø. V tomto p≈ô√≠padƒõ tabulka obsahuje celkem 13 vlastnost√≠ (pojmenovan√Ωch sloupc≈Ø) 807 r≈Øzn√Ωch pok√©mon≈Ø (oƒç√≠slovan√Ωch ≈ô√°dk≈Ø).

‚ö†Ô∏è **Varov√°n√≠:** V tomto jednoduch√©m p≈ô√≠padƒõ se tabulka naƒçetla spr√°vnƒõ hned na prvn√≠ pokus, bez jak√Ωchkoliv specifick√Ωch parametr≈Ø, v≈°echny sloupce se zdaj√≠ obsahovat pou≈æiteln√© hodnoty. To je (zejm√©na u form√°tu CSV) vlastnƒõ z pekla ≈°tƒõst√≠. Obvykle jsou se vstupn√≠mi daty probl√©my - kup≈ô√≠kladu nemaj√≠ popsan√© sloupce (p≈ô√≠padnƒõ je maj√≠ popsan√© podivnƒõ), pou≈æ√≠vaj√≠ zvl√°≈°tn√≠ oddƒõlovaƒçe z√°znam≈Ø nebo desetinn√© ƒç√°sti ƒç√≠sel, mnoh√© ≈ô√°dky obsahuj√≠ chybƒõj√≠c√≠ (nebo ≈°patnƒõ opsan√©) hodnoty, ... **ƒåi≈°tƒõn√≠ dat** se budeme vƒõnovat nƒõkdy p≈ô√≠≈°tƒõ.

Co je ten objekt ulo≈æen√Ω v promƒõnn√© `data` vlastnƒõ zaƒç? Jak√© je t≈ô√≠dy?

## Z√°kladn√≠ t≈ô√≠dy v `pandas` - DataFrame, Series, Index

In [4]:
type(data)

pandas.core.frame.DataFrame

Odpovƒõƒè zn√≠ `DataFrame`. Tento term√≠n (pou≈æ√≠van√Ω i v dal≈°√≠ch obl√≠ben√Ωch statistick√Ωch jazyc√≠ch, nap≈ô√≠klad "R") je nesp√≠≈° bez ƒçesk√©ho ekvivalentu, a tak nad√°le budeme mluvit o tabulk√°ch ƒçi o instanc√≠ch t≈ô√≠dy DataFrame. Pokusme se nyn√≠ n√°≈° prvn√≠ DataFrame rozpitvat.

‚ö†Ô∏è **Varov√°n√≠:** Jistƒõ si brzy v≈°imne≈°, ≈æe se `DataFrame` sv√Ωmi funkcemi hodnƒõ podobn√° se≈°itu v tabulkov√©m procesoru, ale je pot≈ôeba si uvƒõdomit, kde tato paralela konƒç√≠. Na rozd√≠l od se≈°it≈Ø v Excelu nebo LibreOffice Calcu DataFrame obsahuje "pouze" such√° data, neukl√°d√° ≈æ√°dn√© form√°tov√°n√≠ a nenab√≠z√≠ ≈æ√°dn√Ω "editor". Pƒõkn√° vizu√°ln√≠ reprezentace je jen ot√°zkou souhry `pandas` s Jupyter notebookem, p≈ô√≠padnƒõ pro to m≈Ø≈æe≈° napsat vlastn√≠ k√≥d.

In [5]:
sloupec = data["name"]
sloupec

0        bulbasaur
1          ivysaur
2         venusaur
3       charmander
4       charmeleon
          ...
802        poipole
803      naganadel
804      stakataka
805    blacephalon
806        zeraora
Name: name, Length: 807, dtype: object

üí° DataFrame se mimo jin√© chov√° podobnƒõ jako slovn√≠k (`dict`) - kdy≈æ do hranat√Ωch z√°vorek vlo≈æ√≠≈° nƒõjak√Ω kl√≠ƒç, z√≠sk√°≈° takto pojmenovan√Ω sloupec. Ve skuteƒçnosti hranat√© z√°vorky ("square brackets") umo≈æ≈àuj√≠ vyb√≠rat z tabulek na z√°kladƒõ r≈Øzn√Ωch dal≈°√≠ch krit√©ri√≠, ale k tomu se je≈°tƒõ dostaneme.

Na≈°e pitva pokraƒçuje zji≈°tƒõn√≠m, co je zaƒç `sloupec`.

In [6]:
type(sloupec)

pandas.core.series.Series

### Series

Sloupce jsou typu `Series` (ƒçesky "≈ôada", ale ani toto slovo nebudeme pou≈æ√≠vat). Tento typ vypad√° jako seznam (`list`). Ovƒõ≈ô√≠me si, jestli se tak i chov√°:

In [7]:
sloupec[0]     # Prvn√≠ jm√©no? ‚úì

'bulbasaur'

In [8]:
sloupec[-5:]   # Posledn√≠ch pƒõt jmen? ‚úì

802        poipole
803      naganadel
804      stakataka
805    blacephalon
806        zeraora
Name: name, dtype: object

**√ökol**: Zkus je≈°tƒõ nƒõjak√© dal≈°√≠ operace se seznamy, kter√© u≈æ um√≠≈°, aplikovat i na `sloupec`. Nƒõkdy to p≈Øjde, nƒõkdy ne.

Nen√≠ tak√© ≈æ√°dn√Ω probl√©m mezi seznamy a `Series` p≈ôev√°dƒõt. V≈Øbec nejjednodu≈°≈°√≠ zp≈Øsob, jak m≈Ø≈æe≈° vytvo≈ôit vlastn√≠ Series (pomni, ≈æe mimo kontext tabulky), je vytvo≈ôit instanci t√©to t≈ô√≠dy s nƒõjak√Ωm seznamem jako argumentem:

In [9]:
series = pd.Series([1, 2, 3])
series

0    1
1    2
2    3
dtype: int64

A jde to i naopak:

In [10]:
series.tolist()     # Varianta 1 (preferovan√°, rychlej≈°√≠)
list(series)        # Varianta 2

[1, 2, 3]

ƒå√≠m se tedy `Series` od seznamu li≈°√≠ a v ƒçem spoƒç√≠v√° jeho v√Ωhoda?

Ka≈æd√Ω sloupec m√° p≈ôedev≈°√≠m n√°sleduj√≠c√≠ch pƒõt z√°kladn√≠ch vlastnost√≠:

<img src="static/series.svg" style="max-height: 20em;">

#### 1) hodnoty - `.values`

In [11]:
sloupec[:100].values    # Z estetick√Ωch d≈Øvod≈Ø si sloupec trochu zkr√°t√≠me

array(['bulbasaur', 'ivysaur', 'venusaur', 'charmander', 'charmeleon',
       'charizard', 'squirtle', 'wartortle', 'blastoise', 'caterpie',
       'metapod', 'butterfree', 'weedle', 'kakuna', 'beedrill', 'pidgey',
       'pidgeotto', 'pidgeot', 'rattata', 'raticate', 'spearow', 'fearow',
       'ekans', 'arbok', 'pikachu', 'raichu', 'sandshrew', 'sandslash',
       'nidoran-f', 'nidorina', 'nidoqueen', 'nidoran-m', 'nidorino',
       'nidoking', 'clefairy', 'clefable', 'vulpix', 'ninetales',
       'jigglypuff', 'wigglytuff', 'zubat', 'golbat', 'oddish', 'gloom',
       'vileplume', 'paras', 'parasect', 'venonat', 'venomoth', 'diglett',
       'dugtrio', 'meowth', 'persian', 'psyduck', 'golduck', 'mankey',
       'primeape', 'growlithe', 'arcanine', 'poliwag', 'poliwhirl',
       'poliwrath', 'abra', 'kadabra', 'alakazam', 'machop', 'machoke',
       'machamp', 'bellsprout', 'weepinbell', 'victreebel', 'tentacool',
       'tentacruel', 'geodude', 'graveler', 'golem', 'ponyta', 'rapidash',
       'slowpoke', 'slowbro', 'magnemite', 'magneton', 'farfetchd',
       'doduo', 'dodrio', 'seel', 'dewgong', 'grimer', 'muk', 'shellder',
       'cloyster', 'gastly', 'haunter', 'gengar', 'onix', 'drowzee',
       'hypno', 'krabby', 'kingler', 'voltorb'], dtype=object)

In [12]:
type(sloupec.values)

numpy.ndarray

üí° Hodnoty jsou v Series ulo≈æeny v... TODO: Finish

#### 2) typ hodnot - `.dtype`

In [13]:
sloupec.dtype

dtype('O')

#### 3) index - `.index`

In [14]:
sloupec.index

RangeIndex(start=0, stop=807, step=1)

#### 4) jm√©no - `.name`

In [15]:
sloupec.name

'name'

#### 5) velikost - `.size`

In [16]:
sloupec.size

807

**√ökol:** Zjisti hodnoty atribut≈Ø `.name`, `.index`, `.dtype` a `.values` u objektu `series`. V≈°imne≈° si nƒõƒçeho zaj√≠mav√©ho?

In [17]:
## Index

## Sloupce a ≈ô√°dky

Sloupce i ≈ô√°dky maj√≠ tzv. index, s jeho≈æ pomoc√≠ se d√° k jednotliv√Ωm ƒç√°stem tabulky p≈ôistoupit. V na≈°em p≈ô√≠padƒõ m√° ka≈æd√Ω ≈ô√°dek automaticky doplnƒõn√Ω unik√°tn√≠ ƒç√≠seln√Ω index (ten bezejmenn√Ω sloupec nalevo) a jako index pro sloupce n√°m poslou≈æ√≠ prvni ≈ô√°dek CSV souboru s n√°zvy sloupc≈Ø.

Pozdƒõji se nauƒç√≠me idexy mƒõnit a vkl√°dat do nich i v√≠ce ne≈æ jednu hodnotu.

### Sloupce

Sloupce lze vybrat stejnƒõ jako se vyb√≠raj√≠ hodnoty ze slovn√≠ku - do hranat√Ωch z√°vorek staƒç√≠ napsat n√°zev sloupce.

In [18]:
data[['name', 'color']]

            name   color
0      bulbasaur   green
1        ivysaur   green
2       venusaur   green
3     charmander     red
4     charmeleon     red
..           ...     ...
802      poipole  purple
803    naganadel  purple
804    stakataka    gray
805  blacephalon   white
806      zeraora  yellow

[807 rows x 2 columns]

Pokud n√°zev sloupce neobsahuje mezeru a nekoliduje s n√°zvem existuj√≠c√≠ metody, d√° se k nƒõmu p≈ôistoupit i pomoc√≠ teƒçkov√© notace, co≈æ je velmi u≈æiteƒçn√© p≈ôedev≈°√≠m p≈ôi psan√≠ slo≈æitƒõj≈°√≠ch podm√≠nek.

In [19]:
data.name

0        bulbasaur
1          ivysaur
2         venusaur
3       charmander
4       charmeleon
          ...
802        poipole
803      naganadel
804      stakataka
805    blacephalon
806        zeraora
Name: name, Length: 807, dtype: object

Pro sloupec `shape` je tento p≈ô√≠stup nepou≈æiteln√Ω, proto≈æe koliduje s atributem, ve kter√©m je ulo≈æen poƒçet ≈ô√°dk≈Ø a slupc≈Ø tabulky.

In [20]:
data.shape

(807, 13)

### ≈ò√°dky

Pro ≈ô√°dky se pou≈æ√≠v√° tzv. indexer `loc`, kter√Ω n√°m dok√°≈æe obstarat jeden ƒçi v√≠ce ≈ô√°dk≈Ø.

M≈Ø≈æeme si nap≈ô√≠klad ≈ô√≠ci o jeden ≈ô√°dek jeho indexem:

In [21]:
data.loc[1]

id                 2
name         ivysaur
height             1
weight            13
color          green
shape      quadruped
is baby        False
type 1         Grass
type 2        Poison
hp                60
attack            62
defense           63
speed             60
Name: 1, dtype: object

O v√≠ce ≈ô√°dk≈Ø seznamem jejich index≈Ø:

In [22]:
data.loc[[1, 2, 3]]

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,60
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,80
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,65

Nebo t≈ôeba stejnƒõ jako i seznam≈Ø o nƒõkolik ≈ô√°dk≈Ø pomoc√≠ rozsahu index≈Ø:

In [23]:
data.loc[100:105]

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
100,101,electrode,1.2,66.6,red,ball,False,Electric,NaN,60,50,70,150
101,102,exeggcute,0.4,2.5,pink,heads,False,Grass,Psychic,60,40,80,40
102,103,exeggutor,2.0,120.0,yellow,legs,False,Grass,Psychic,95,95,85,55
103,104,cubone,0.4,6.5,brown,upright,False,Ground,NaN,50,50,95,35
104,105,marowak,1.0,45.0,brown,upright,False,Ground,NaN,60,80,110,45
105,106,hitmonlee,1.5,49.8,brown,humanoid,False,Fighting,NaN,50,120,53,87

### Konkr√©tn√≠ hodnoty

Indexer `loc` je vhodn√Ω i pro z√≠sk√°n√≠ konkr√©tn√≠ hodnoty, jen se p≈ôi indexaci pou≈æij√≠ oba indexy (pro ≈ô√°dek i sloupec) najednou ve formƒõ ntice.

In [24]:
data.loc[101, 'name']

'exeggcute'

## Filtrace dat

Velmi ƒçasto se hod√≠ z√≠skat ƒç√°st tabulky, ve ktet√© hodnoty spl≈àuj√≠ urƒçit√° krit√©ria. Toho lze doc√≠lit tak, ≈æe nap√≠≈°eme do hranat√Ωch z√°vorek podm√≠nku a dostaneme jen ty ≈ô√°dky, kter√© danou podm√≠nku spl≈àuj√≠.

Nap≈ô√≠klad n√°s budou zaj√≠mat jen ƒçerven√≠ pok√©moni.

In [25]:
data[data['color'] == "red"]

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,65
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80
5,6,charizard,1.7,90.5,red,upright,False,Fire,Flying,78,84,78,100
44,45,vileplume,1.2,18.6,red,humanoid,False,Grass,Poison,75,80,85,50
45,46,paras,0.3,5.4,red,armor,False,Bug,Grass,35,70,55,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,incineroar,1.8,83.0,red,upright,False,Fire,Dark,95,115,90,60
740,741,oricorio,0.6,3.4,red,wings,False,Fire,Flying,75,70,70,93
775,776,turtonator,2.0,212.0,red,upright,False,Fire,Dragon,60,78,135,36
786,787,tapu-bulu,1.9,45.5,red,arms,False,Grass,Fairy,70,130,115,75
793,794,buzzwole,2.4,333.6,red,tentacles,False,Bug,Fighting,107,139,139,79

Podm√≠nky se daj√≠ i kombinovat, ale mus√≠ se dodr≈æet jist√° pravidla. Prvn√≠ z nich je, ≈æe ka≈æd√° podm√≠nka mus√≠ b√Ωt samostatnƒõ uzav≈ôena v kulat√Ωch z√°vork√°ch. D√°le pak logick√© spojky `and` a `or` jsou zde nahrazeny znaky `&` a `|`.

Co t≈ôeba ƒçerven√≠ pok√©moni, jejich≈æ s√≠la √∫toku je vy≈°≈°√≠ nebo rovna 130?

In [26]:
data[(data['attack'] >= 130) & (data['color'] == "red")]

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
98,99,kingler,1.3,60.0,red,armor,False,Water,NaN,55,130,115,75
135,136,flareon,0.9,25.0,red,quadruped,False,Fire,NaN,65,130,60,65
211,212,scizor,1.8,118.0,red,bug-wings,False,Bug,Steel,70,130,100,65
249,250,ho-oh,3.8,199.0,red,wings,False,Fire,Flying,106,130,90,90
382,383,groudon,3.5,950.0,red,upright,False,Ground,NaN,100,150,140,90
385,386,deoxys,1.7,60.8,red,humanoid,False,Psychic,NaN,50,150,50,150
554,555,darmanitan,1.3,92.9,red,quadruped,False,Fire,NaN,105,140,55,95
716,717,yveltal,5.8,203.0,red,wings,False,Dark,Flying,126,131,95,99
786,787,tapu-bulu,1.9,45.5,red,arms,False,Grass,Fairy,70,130,115,75
793,794,buzzwole,2.4,333.6,red,tentacles,False,Bug,Fighting,107,139,139,79

## Operace se sloupci

Podm√≠nka zapsan√° v hranat√Ωch z√°vork√°ch ve skuteƒçnosti nen√≠ jen tak obyƒçejnou podm√≠nkou. Jedn√° se toti≈æ o hromadnou operaci nap≈ô√≠ƒç cel√Ωm sloupcem, kter√° pro ka≈æd√Ω ≈ô√°dek vr√°t√≠ `True` nebo `False`, co≈æ v p≈ô√≠padƒõ pou≈æit√≠ k filtraci rozhodne o jeho zobrazen√≠.

In [27]:
data.speed >= 65

0      False
1      False
2       True
3       True
4       True
       ...
802     True
803     True
804    False
805     True
806     True
Name: speed, Length: 807, dtype: bool

I dal≈°√≠ zn√°m√© oper√°tory lze pou≈æ√≠t stejn√Ωm zp≈Øsobem a aplikovat je na sloupec a jednu hodnotu ƒçi na v√≠ce sloupc≈Ø najednou.

In [28]:
data["speed"] / 10

0       4.5
1       6.0
2       8.0
3       6.5
4       8.0
       ...
802     7.3
803    12.1
804     1.3
805    10.7
806    14.3
Name: speed, Length: 807, dtype: float64

In [29]:
data.hp * data.defense

0       2205
1       3780
2       6640
3       1677
4       3364
       ...
802     4489
803     5329
804    12871
805     2809
806     6600
Length: 807, dtype: int64

V√Ωsledek takov√© operace lze velmi snadno p≈ôidat zpƒõt k p≈Øvodn√≠ tabulce jako nov√Ω sloupec.

In [30]:
data["fast"] = data.speed >= 65

In [31]:
data

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed,fast
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,49,49,45,False
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,60,False
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,80,True
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,65,True
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,73,67,73,True
803,804,naganadel,3.6,150.0,purple,wings,False,Poison,Dragon,73,73,73,121,True
804,805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,131,211,13,False
805,806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,127,53,107,True
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143,True

## Shrnut√≠

V t√©to lekci jsme si uk√°zali t≈ôi z√°kladn√≠ typy knihovny `pandas`:
    
* `Series` coby jednorozmƒõrn√Ω objekt obsahuj√≠c√≠ hodnoty stejn√©ho typu
* `DataFrame` coby dvojrozmƒõrn√° tabulka slo≈æen√° z v√≠ce `Series`
* `Index` coby zobecnƒõn√Ω popis, jak p≈ôistupovat k prvk≈Øm `Series` nebo `DataFrame`

V dal≈°√≠ lekci si uk√°≈æeme, jak√© typy (p≈ôesnƒõji "dtypes") lze v pandas pou≈æ√≠t, zaƒçneme poƒç√≠tat a v≈Øbec napodobovat funkce tabulkov√Ωch procesor≈Ø.