# Knihovna pandas a z√°kladn√≠ manipulace s tabulkov√Ωmi daty

P≈ôed jakoukoli slo≈æitƒõj≈°√≠ anal√Ωzou je t≈ôeba nauƒçit se z√°klady pr√°ce se zpracov√°van√Ωmi daty. Data m≈Ø≈æou b√Ωt r≈Øzn√©ho charakteru - jednorozmƒõrn√°, dvourozmƒõrn√°, strukturovan√°, nestrukturovan√°, obrazov√°, zvukov√°... V lekc√≠ch expolarativn√≠ datov√© anal√Ωzy budeme pracovat s daty p≈ôev√°≈ænƒõ **tabulkov√Ωmi** - tedy takov√Ωmi, kter√© jistƒõ zn√°≈° ze sv√©ho obl√≠ben√©ho (nebo neobl√≠ben√©ho) tabulkov√©ho procesoru (spreadsheetu). Obvykle ka≈æd√Ω **≈ô√°dek** takov√© tabulky odpov√≠d√° nƒõjak√© vƒõci, exempl√°≈ôi ƒçehosi, p≈ô√≠padnƒõ nƒõjak√©mu pozorov√°n√≠. V jednotliv√Ωch **sloupc√≠ch** se pak nach√°zej√≠ jednotliv√© vlastnosti ƒçi mƒõ≈ôen√© veliƒçiny pro tyto vƒõci charakteristick√©.

Ve svƒõtƒõ Pythonu je pro zpracov√°n√≠ tabulkov√Ωch dat nejpou≈æ√≠vanƒõj≈°√≠ knihovnou **pandas**. Ta umo≈æ≈àuje naƒç√≠tat data z mnoh√Ωch form√°t≈Ø (vƒçetnƒõ se≈°it≈Ø XLS(x)), r≈Øznƒõ je upravovat, velice efektivnƒõ poƒç√≠tat se sloupci, p≈ô√≠mo zkoumat nƒõkter√© statistick√© ukazatele a v neposledn√≠ ≈ôadƒõ v√Ωsledky pƒõknƒõ vizualizovat. Tato lekce tƒõ sezn√°m√≠ se z√°kladn√≠mi pou≈æit√Ωmi koncepty a nauƒç√≠ tƒõ p≈ôistupovat k jednotliv√Ωm sloupc≈Øm, ≈ô√°dk≈Øm a bu≈àk√°m.

V√≠ce o knihovnƒõ pandas najde≈° na jej√≠ch domovsk√Ωch str√°nk√°ch: https://pandas.pydata.org/

## Import knihoven

In [1]:
import pandas as pd     # K pandas budeme p≈ôistupovat pomoc√≠ aliasu pd

P≈ôi bƒõ≈æn√©m programov√°n√≠ se sna≈æ√≠me vyhnout alias≈Øm, proto≈æe znep≈ôehled≈àuj√≠ k√≥d, ale ve svƒõtƒõ datov√© analytiky se nƒõkter√© aliasy tak za≈æily, ≈æe je budeme pou≈æ√≠vat i v tomto kurzu (dal≈°√≠ je≈°tƒõ p≈ôijdou).

## Naƒçten√≠ tabulky s daty

Skoƒç√≠me do pandas rovn√Ωma nohama a uk√°≈æeme si typick√Ω p≈ô√≠klad dat, kter√° s touto knihovnou budeme zpracov√°vat.

Pro ƒçten√≠ dat m√° Pandas celou ≈ôadu funkc√≠ `read_*`, d√≠ky kter√Ωm si porad√≠ s celou ≈ôadou r≈Øzn√Ωch form√°t≈Ø. Pomƒõrnƒõ ƒçast√Ωm je form√°t CSV (comma-separated values - [wiki](https://cs.wikipedia.org/wiki/CSV)), ve kter√©m jsou jednotliv√© hodnoty oddƒõlen√© ƒç√°rkami.

**TODO** <span style="background-color: yellow">Ovƒõ≈ôit n√°sleduj√≠c√≠: mechanismus p≈ô√≠stupu k dat≈Øm</span>

Pokud bude≈° t√≠mto notebookem experimentovat, st√°hni si nejd≈ô√≠ve soubor s daty z [tohoto odkazu](static/pokemon.csv). Data pro pokusy jsou vytvo≈ôena z [komplexn√≠ho Pokedexu na Githubu](https://github.com/veekun/pokedex).

In [2]:
data = pd.read_csv("static/pokemon.csv")

Data (a≈• u≈æ to je cokoliv) jsou nyn√≠ naƒçten√° v pamƒõti. Pojƒème se pod√≠vat, co se v nich ukr√Ωv√°.

In [3]:
data

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,49,49,45
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,60
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,80
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,65
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,73,67,73
803,804,naganadel,3.6,150.0,purple,wings,False,Poison,Dragon,73,73,73,121
804,805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,131,211,13
805,806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,127,53,107
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143

Pokud v≈°e zafungovalo, jak m√°, mƒõl(a) bys p≈ôed sebou m√≠t relativnƒõ pƒõknƒõ naform√°tovanou tabulku. Z√°kladn√≠ zobrazen√≠ v notebooku ti uk√°≈æe prvn√≠ch pƒõt a posledn√≠ch pƒõt ≈ô√°dk≈Ø (kdo by riskoval, ≈æe mu tis√≠ce ≈ô√°dk≈Ø zahlt√≠ okno prohl√≠≈æeƒçe?) v tabulce spoleƒçnƒõ s informac√≠ o celkov√©m poƒçtu ≈ô√°dk≈Ø a sloupc≈Ø. V tomto p≈ô√≠padƒõ tabulka obsahuje celkem 13 vlastnost√≠ (pojmenovan√Ωch sloupc≈Ø) 807 r≈Øzn√Ωch pok√©mon≈Ø (oƒç√≠slovan√Ωch ≈ô√°dk≈Ø).

‚ö†Ô∏è **Varov√°n√≠:** V tomto jednoduch√©m p≈ô√≠padƒõ se tabulka naƒçetla spr√°vnƒõ hned na prvn√≠ pokus, bez jak√Ωchkoliv specifick√Ωch parametr≈Ø, v≈°echny sloupce se zdaj√≠ obsahovat pou≈æiteln√© hodnoty. To je (zejm√©na u form√°tu CSV) vlastnƒõ z pekla ≈°tƒõst√≠. Obvykle jsou se vstupn√≠mi daty probl√©my - kup≈ô√≠kladu nemaj√≠ popsan√© sloupce (p≈ô√≠padnƒõ je maj√≠ popsan√© podivnƒõ), pou≈æ√≠vaj√≠ zvl√°≈°tn√≠ oddƒõlovaƒçe z√°znam≈Ø nebo desetinn√© ƒç√°sti ƒç√≠sel, mnoh√© ≈ô√°dky obsahuj√≠ chybƒõj√≠c√≠ (nebo ≈°patnƒõ opsan√©) hodnoty, ... **ƒåi≈°tƒõn√≠ dat** se budeme vƒõnovat nƒõkdy p≈ô√≠≈°tƒõ.

Co je ten objekt ulo≈æen√Ω v promƒõnn√© `data` vlastnƒõ zaƒç? Jak√© je t≈ô√≠dy?

## Z√°kladn√≠ t≈ô√≠dy v `pandas` - DataFrame, Series, Index

In [4]:
type(data)

pandas.core.frame.DataFrame

Odpovƒõƒè zn√≠ `DataFrame`. Tento term√≠n (pou≈æ√≠van√Ω i v dal≈°√≠ch obl√≠ben√Ωch statistick√Ωch jazyc√≠ch, nap≈ô√≠klad "R") je nesp√≠≈° bez ƒçesk√©ho ekvivalentu, a tak nad√°le budeme mluvit o tabulk√°ch ƒçi o instanc√≠ch t≈ô√≠dy DataFrame. Pokusme se nyn√≠ n√°≈° prvn√≠ DataFrame rozpitvat.

‚ö†Ô∏è **Varov√°n√≠:** Jistƒõ si brzy v≈°imne≈°, ≈æe se `DataFrame` sv√Ωmi funkcemi hodnƒõ podobn√° se≈°itu v tabulkov√©m procesoru, ale je pot≈ôeba si uvƒõdomit, kde tato paralela konƒç√≠. Na rozd√≠l od se≈°it≈Ø v Excelu nebo LibreOffice Calcu DataFrame obsahuje "pouze" such√° data, neukl√°d√° ≈æ√°dn√© form√°tov√°n√≠ a nenab√≠z√≠ ≈æ√°dn√Ω "editor". Pƒõkn√° vizu√°ln√≠ reprezentace je jen ot√°zkou souhry `pandas` s Jupyter notebookem, p≈ô√≠padnƒõ pro to m≈Ø≈æe≈° napsat vlastn√≠ k√≥d.

In [5]:
sloupec = data["name"]
sloupec

0        bulbasaur
1          ivysaur
2         venusaur
3       charmander
4       charmeleon
          ...
802        poipole
803      naganadel
804      stakataka
805    blacephalon
806        zeraora
Name: name, Length: 807, dtype: object

üí° DataFrame se mimo jin√© chov√° podobnƒõ jako slovn√≠k (`dict`) - kdy≈æ do hranat√Ωch z√°vorek vlo≈æ√≠≈° nƒõjak√Ω kl√≠ƒç, z√≠sk√°≈° takto pojmenovan√Ω sloupec. Ve skuteƒçnosti hranat√© z√°vorky ("square brackets") umo≈æ≈àuj√≠ vyb√≠rat z tabulek na z√°kladƒõ r≈Øzn√Ωch dal≈°√≠ch krit√©ri√≠, ale k tomu se je≈°tƒõ dostaneme.

Na≈°e pitva pokraƒçuje zji≈°tƒõn√≠m, co je zaƒç `sloupec`.

In [6]:
type(sloupec)

pandas.core.series.Series

### Series

Sloupce jsou typu `Series` (ƒçesky "≈ôada", ale ani toto slovo nebudeme pou≈æ√≠vat). Tento typ vypad√° jako seznam (`list`). Ovƒõ≈ô√≠me si, jestli se tak i chov√°:

In [7]:
sloupec[0]     # Prvn√≠ jm√©no? ‚úì

'bulbasaur'

In [8]:
sloupec[-5:]   # Posledn√≠ch pƒõt jmen? ‚úì

802        poipole
803      naganadel
804      stakataka
805    blacephalon
806        zeraora
Name: name, dtype: object

**√ökol**: Zkus je≈°tƒõ nƒõjak√© dal≈°√≠ operace se seznamy, kter√© u≈æ um√≠≈°, aplikovat i na `sloupec`. Nƒõkdy to p≈Øjde, nƒõkdy ne.

Nen√≠ tak√© ≈æ√°dn√Ω probl√©m mezi seznamy a `Series` p≈ôev√°dƒõt. V≈Øbec nejjednodu≈°≈°√≠ zp≈Øsob, jak m≈Ø≈æe≈° vytvo≈ôit vlastn√≠ Series (pomni, ≈æe mimo kontext tabulky), je vytvo≈ôit instanci t√©to t≈ô√≠dy s nƒõjak√Ωm seznamem jako argumentem:

In [9]:
series = pd.Series([1, 2, 3])
series

0    1
1    2
2    3
dtype: int64

A jde to i naopak:

In [10]:
series.tolist()     # Varianta 1 (preferovan√°, rychlej≈°√≠)
list(series)        # Varianta 2

[1, 2, 3]

ƒå√≠m se tedy `Series` od seznamu li≈°√≠ a v ƒçem spoƒç√≠v√° jeho v√Ωhoda?

Ka≈æd√Ω sloupec m√° p≈ôedev≈°√≠m n√°sleduj√≠c√≠ch pƒõt z√°kladn√≠ch vlastnost√≠:

<img src="static/series.svg" style="max-height: 20em;">

#### 1) hodnoty - `.values`

In [11]:
sloupec[:100].values    # Z estetick√Ωch d≈Øvod≈Ø si sloupec trochu zkr√°t√≠me

array(['bulbasaur', 'ivysaur', 'venusaur', 'charmander', 'charmeleon',
       'charizard', 'squirtle', 'wartortle', 'blastoise', 'caterpie',
       'metapod', 'butterfree', 'weedle', 'kakuna', 'beedrill', 'pidgey',
       'pidgeotto', 'pidgeot', 'rattata', 'raticate', 'spearow', 'fearow',
       'ekans', 'arbok', 'pikachu', 'raichu', 'sandshrew', 'sandslash',
       'nidoran-f', 'nidorina', 'nidoqueen', 'nidoran-m', 'nidorino',
       'nidoking', 'clefairy', 'clefable', 'vulpix', 'ninetales',
       'jigglypuff', 'wigglytuff', 'zubat', 'golbat', 'oddish', 'gloom',
       'vileplume', 'paras', 'parasect', 'venonat', 'venomoth', 'diglett',
       'dugtrio', 'meowth', 'persian', 'psyduck', 'golduck', 'mankey',
       'primeape', 'growlithe', 'arcanine', 'poliwag', 'poliwhirl',
       'poliwrath', 'abra', 'kadabra', 'alakazam', 'machop', 'machoke',
       'machamp', 'bellsprout', 'weepinbell', 'victreebel', 'tentacool',
       'tentacruel', 'geodude', 'graveler', 'golem', 'ponyta', 'rapidash',
       'slowpoke', 'slowbro', 'magnemite', 'magneton', 'farfetchd',
       'doduo', 'dodrio', 'seel', 'dewgong', 'grimer', 'muk', 'shellder',
       'cloyster', 'gastly', 'haunter', 'gengar', 'onix', 'drowzee',
       'hypno', 'krabby', 'kingler', 'voltorb'], dtype=object)

In [12]:
type(sloupec.values)

numpy.ndarray

üí° Hodnoty jsou v Series ulo≈æeny ve speci√°ln√≠m form√°tu postaven√©m na typu `ndarray` z knihovny `numpy`. T√© se vƒõnovat nebudeme, ale zejm√©na v p≈ô√≠padƒõ numerick√Ωch hodnot u≈°et≈ô√≠ m√≠sto v pamƒõti a zrychl√≠ matematick√© operace (nap≈ô√≠klad seƒç√≠st v≈°echny hodnoty v Series je v√Ωraznƒõ rychlej≈°√≠ ne≈æ v seznamu).

#### 2) typ hodnot - `.dtype`

In [13]:
sloupec.dtype

dtype('O')

üí° Na rozd√≠l od seznam≈Ø by v≈°echny prvky `Series` mƒõly b√Ωt stejn√©ho typu (pokud nejsou, zvol√≠ se nejbli≈æ≈°√≠ spoleƒçn√Ω nadtyp). `pandas` m√° vlastn√≠ sadu typ≈Ø, tzv. **dtypes**, kter√° ƒç√°steƒçnƒõ kop√≠ruje v√Ωchoz√≠ datov√© typy v Pythonu, ale (zejm√©na u numerick√Ωch typ≈Ø) se bl√≠≈æ√≠ v√≠ce k tomu, jak s nimi pracuje procesor. A nehledejte u nich dƒõdiƒçnost (dobr√° zpr√°va?). Nejbƒõ≈ænƒõj≈°√≠ typy si p≈ôedstav√≠me u p≈ô√≠le≈æitosti operac√≠, kter√© se sloupci daj√≠ dƒõlat.

#### 3) index - `.index`

In [14]:
sloupec.index

RangeIndex(start=0, stop=807, step=1)

üí° K prvk≈Øm seznamu p≈ôistupuje≈° pomoc√≠ ƒç√≠seln√©ho po≈ôad√≠ (0 - prvn√≠ prvek, 1 - druh√Ω, ...), ze slovn√≠ku vyb√≠r√°≈° podle kl√≠ƒçe, pandas zav√°d√≠ zobecnƒõn√Ω **index**, kter√Ω m≈Ø≈æe b√Ωt ƒç√≠seln√Ω, ≈ôetƒõzcov√Ω, ale t≈ôeba i postaven√Ω na datu/ƒçasu. O r≈Øzn√Ωch indexech viz n√≠≈æe.

#### 4) jm√©no - `.name`

In [15]:
sloupec.name

'name'

üí° `Series` m≈Ø≈æe, ale nemus√≠ m√≠t jm√©no. Pozor, je to hodnota ulo≈æen√° uvnit≈ô samotn√©ho objektu, nijak nesouvis√≠ se jm√©nem promƒõnn√©, do kter√© ho ulo≈æ√≠≈° (ale u sloupce v tabulce se pou≈æije pro p≈ô√≠stup k nƒõmu).

#### 5) velikost - `.size`

In [16]:
sloupec.size

807

üí° Tato vlastnost ≈ô√≠k√°, kolik je v `Series` prvk≈Ø. Nen√≠ nijak magick√°, chov√° se jako `len` u seznamu (a ostatnƒõ `len` lze pou≈æ√≠t i na `Series`). Pro √∫plnost uv√°d√≠me, ≈æe na rozd√≠l od ostatn√≠ch vlastnost√≠ je tato jen pro ƒçten√≠.

**√ökol:** Zjisti hodnoty atribut≈Ø `.name`, `.index`, `.dtype` a `.values` u objektu `series`. V≈°imne≈° si nƒõƒçeho zaj√≠mav√©ho?

P≈ôi vytv√°≈ôen√≠ objekt≈Ø `Series` lze tyto atributy (a≈æ na `size` a v omezen√© m√≠≈ôe `dtype`) explicitnƒõ uv√©st:

In [17]:
vek = pd.Series(
    [27, 65, 14],
    name="Vƒõk",
    index=["Karla", "Martina", "≈Ωofie"],
    dtype=float,
)
vek

Karla      27.0
Martina    65.0
≈Ωofie      14.0
Name: Vƒõk, dtype: float64

## Index

Ve v√Ωchoz√≠m stavu je u sloupc≈Ø i tabulek pou≈æit bezejmenn√Ω ƒç√≠seln√Ω index, kter√Ω ≈ôad√≠ prvky po sobƒõ od nuly v√Ω≈°e:

In [18]:
sloupec.index

RangeIndex(start=0, stop=807, step=1)

Nicm√©nƒõ existuj√≠ i typy index≈Ø:

In [19]:
vek.index

Index(['Karla', 'Martina', '≈Ωofie'], dtype='object')

In [38]:
udalosti = pd.Series(
    ["Nez√°vislost ƒåeskoslovenska", "Konec druh√© svƒõtov√© v√°lky", "Sametov√° revoluce"],
    index = [1918, 1945, 1989]
)
udalosti

1918    Nez√°vislost ƒåeskoslovenska
1945     Konec druh√© svƒõtov√© v√°lky
1989             Sametov√° revoluce
dtype: object

In [39]:
udalosti.index

Int64Index([1918, 1945, 1989], dtype='int64')

Tento index je ƒç√≠seln√Ω, ale hodnoty nejsou (resp. jsou, ale nemusely by b√Ωt) srovnan√© a jsou "dƒõrav√©".

In [35]:
udalosti_presne = pd.Series(
    ["Nez√°vislost ƒåeskoslovenska", "Konec druh√© svƒõtov√© v√°lky", "Sametov√° revoluce"],
    index = pd.DatetimeIndex(['1918-10-28', '1945-05-08', '1989-11-17'])
)
udalosti_presne.index

DatetimeIndex(['1918-10-28', '1945-05-08', '1989-11-17'], dtype='datetime64[ns]', freq=None)

Hodnoty indexu potom lze pou≈æ√≠t v p≈ô√≠stupu k prvk≈Øm `Series`, podobnƒõ jako u slovn√≠ku. Mo≈ænosti jsou ale mnohem ≈°ir≈°√≠, uk√°≈æeme si je za chv√≠li v kontextu DataFrame.

In [36]:
vek["Martina"]

65.0

## DataFrame

Kdy≈æ u≈æ jsme se sezn√°mili se sloupci a indexy, m≈Ø≈æeme se vr√°tit k tabulce, resp. `DataFrame`.

<img src="static/df.svg" style="max-height: 25em;"/>

### Indexov√°n√≠

Vyu≈æijeme toho, 

TODO: Vysvƒõtli set_index

TODO: Vysvƒõtli sort_index

In [22]:
pokemoni = data.set_index("name").sort_index()
pokemoni

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
abomasnow,460,2.2,135.5,white,upright,False,Grass,Ice,90,92,75,60
abra,63,0.9,19.5,brown,upright,False,Psychic,NaN,25,20,15,90
absol,359,1.2,47.0,white,quadruped,False,Dark,NaN,65,130,60,75
accelgor,617,0.8,25.3,red,arms,False,Bug,NaN,80,70,40,145
aegislash,681,1.7,53.0,brown,blob,False,Steel,Ghost,60,50,150,60
...,...,...,...,...,...,...,...,...,...,...,...,...
zoroark,571,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,105
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55
zweilous,634,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,58
zygarde,718,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,95

In [23]:
pokemoni.index

Index(['abomasnow', 'abra', 'absol', 'accelgor', 'aegislash', 'aerodactyl',
       'aggron', 'aipom', 'alakazam', 'alomomola',
       ...
       'zapdos', 'zebstrika', 'zekrom', 'zeraora', 'zigzagoon', 'zoroark',
       'zorua', 'zubat', 'zweilous', 'zygarde'],
      dtype='object', name='name', length=807)

In [24]:
pokemoni.columns

Index(['id', 'height', 'weight', 'color', 'shape', 'is baby', 'type 1',
       'type 2', 'hp', 'attack', 'defense', 'speed'],
      dtype='object')

In [25]:
pokemoni["height"]

name
abomasnow    2.2
abra         0.9
absol        1.2
accelgor     0.8
aegislash    1.7
            ...
zoroark      1.6
zorua        0.7
zubat        0.8
zweilous     1.4
zygarde      5.0
Name: height, Length: 807, dtype: float64

In [26]:
pokemoni[["height", "weight"]]

           height  weight
name
abomasnow     2.2   135.5
abra          0.9    19.5
absol         1.2    47.0
accelgor      0.8    25.3
aegislash     1.7    53.0
...           ...     ...
zoroark       1.6    81.1
zorua         0.7    12.5
zubat         0.8     7.5
zweilous      1.4    50.0
zygarde       5.0   305.0

[807 rows x 2 columns]

In [27]:
pokemoni.loc["abra"]

id              63
height         0.9
weight        19.5
color        brown
shape      upright
is baby      False
type 1     Psychic
type 2         NaN
hp              25
attack          20
defense         15
speed           90
Name: abra, dtype: object

In [28]:
pokemoni.loc["z":]

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
zangoose,335,1.3,40.3,white,upright,False,Normal,NaN,73,115,60,90
zapdos,145,1.6,52.6,yellow,wings,False,Electric,Flying,90,90,85,100
zebstrika,523,1.6,79.5,black,quadruped,False,Electric,NaN,75,100,63,116
zekrom,644,2.9,345.0,black,upright,False,Dragon,Electric,100,150,120,90
zeraora,807,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143
zigzagoon,263,0.4,17.5,brown,quadruped,False,Normal,NaN,38,30,41,60
zoroark,571,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,105
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55
zweilous,634,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,58
zygarde,718,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,95

In [29]:
pokemoni.iloc[44]

id                15
height             1
weight          29.5
color         yellow
shape      bug-wings
is baby        False
type 1           Bug
type 2        Poison
hp                65
attack            90
defense           40
speed             75
Name: beedrill, dtype: object

In [30]:
pokemoni.iloc[-10:]

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
zapdos,145,1.6,52.6,yellow,wings,False,Electric,Flying,90,90,85,100
zebstrika,523,1.6,79.5,black,quadruped,False,Electric,NaN,75,100,63,116
zekrom,644,2.9,345.0,black,upright,False,Dragon,Electric,100,150,120,90
zeraora,807,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143
zigzagoon,263,0.4,17.5,brown,quadruped,False,Normal,NaN,38,30,41,60
zoroark,571,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,105
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55
zweilous,634,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,58
zygarde,718,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,95

In [31]:
pokemoni.loc["zorua", "color"]

'gray'

In [32]:
pokemoni.loc["j":"k", ["color", "attack"]]

             color  attack
name
jangmo-o      gray      55
jellicent    white      60
jigglypuff    pink      45
jirachi     yellow     100
jolteon     yellow      65
joltik      yellow      47
jumpluff      blue      55
jynx           red      50

In [33]:
pokemoni.head()

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
abomasnow,460,2.2,135.5,white,upright,False,Grass,Ice,90,92,75,60
abra,63,0.9,19.5,brown,upright,False,Psychic,NaN,25,20,15,90
absol,359,1.2,47.0,white,quadruped,False,Dark,NaN,65,130,60,75
accelgor,617,0.8,25.3,red,arms,False,Bug,NaN,80,70,40,145
aegislash,681,1.7,53.0,brown,blob,False,Steel,Ghost,60,50,150,60

In [34]:
pokemoni.tail()

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
zoroark,571,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,105
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55
zweilous,634,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,58
zygarde,718,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,95

## Shrnut√≠

V t√©to lekci jsme si uk√°zali t≈ôi z√°kladn√≠ typy knihovny `pandas`:
    
* `Series` coby jednorozmƒõrn√Ω objekt obsahuj√≠c√≠ hodnoty stejn√©ho typu
* `DataFrame` coby dvojrozmƒõrn√° tabulka slo≈æen√° z v√≠ce `Series`
* `Index` coby zobecnƒõn√Ω popis, jak p≈ôistupovat k prvk≈Øm `Series` nebo `DataFrame`

V dal≈°√≠ lekci si uk√°≈æeme, jak√© typy (p≈ôesnƒõji "dtypes") lze v pandas pou≈æ√≠t, zaƒçneme poƒç√≠tat a v≈Øbec napodobovat funkce tabulkov√Ωch procesor≈Ø.